<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.sample.mapper.CommentMapper">

	<insert id="commentInsert">
		INSERT INTO commentTBL(b_no, c_content, c_writer) VALUES(#{b_no}, #{c_content}, #{c_writer})
	</insert>
	
	<select id="commentList" resultType="org.study.sample.model.CommentDTO">
		select * from commentTBL where b_no = #{b_no}
	</select>
	
	<delete id="commentDelete">
		delete from commentTBL where c_no = #{c_no}
	</delete>
	
</mapper>